html {
    font-family: "Tahoma";
}
body {
    margin: 0;
    background: #FFF9F6;
    width: 100%;
    height: 100%;
}
header {
    background-color: white;
    z-index:  20;
    position: sticky;
    top: 0px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    border-bottom: 1px solid rgb(228, 227, 227);
}
header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.logo {
    width: 157px;
    margin-left: 73px;
    margin-right: 13%;
    justify-content: center;
}
.logo img {
    width: 157px;
}
.nav-link {
    font-family: "Verdana";
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-decoration: none;
}
.underline-one {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #e1e7bc; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.4s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(227, 247, 156); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.3s;  /* Время эффекта */
}
.nav-link_add:after {
    top: 0px;
}
.dropbtn {
    font-family: "Verdana";
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: white;
    margin-top: 39px;
}
.dropdown {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.dropdown-content {
    transition-duration: 0.3s;
    margin-top: 70px;
    display: none;
    width: fit-content;
    height:fit-content;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    font-weight: 600;
    z-index: 1;
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid lightgrey;
}
.dropdown-content a:hover {
    animation: rotating 0.25s forwards;
}
.nav-link:hover, .widget-title_2:hover {
    animation: rotating2 0.25s forwards;
}
@keyframes rotating {
    0%
    {

    }
    100%{
        transform: scale(1.06);
        box-shadow: 0px 0px 1px grey;
    }
}
@keyframes rotating2 {
    0%
    {

    }
    100%{
        transform: scale(1.03);
    }
}
.dropdown-content a:hover {
    background-color: #ddd;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}
.dropdown button {
    cursor: unset;
}
.info_header {
    font-family: "Verdana";
    font-weight: 700;
    text-align: right;
    margin-right: 15px;
}
form {
    margin-right: -3.143%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
form input[type="text"] {
    height: 30px;
    width: 150px;
    border: none;
    margin-left: 5px;
    outline: none;
    font-size: 16px;
}
::-webkit-input-placeholder {
    color: lightgrey;
 }
form input[type="image"] {
    width: 28px;
    margin-right: 5px;
    border-left: 1px solid grey;
    padding-left: 5px;
}
* {box-sizing: border-box; margin: 0;}
.widget {
  padding: 20px 30px;
  background: white;
  font-family: 'Verdana', sans-serif;
  display: none;
  position: fixed;
  height: 100vh;
  right: 0;
  z-index: 9999;
  background-color: white;
  transition-duration: 0.4s;
}
.widget-parameter {
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 5px solid rgb(157, 157, 157);
}
.widget-title_2 {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    font-size: 15px;
    font-weight: 600;
    padding-left: 16px;
    text-decoration: unset;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 5px solid rgb(157, 157, 157);
    transition-duration: 0.4s;
}
.widget-list {
  padding: 0;
  list-style: none;
}
.widget-list a:before {
  margin-right: 13px;
}
.widget-list a {
    font-weight: 500;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 5px 0; 
    letter-spacing: 1px;
    color: #444;
    transition: .3s linear;
    font-size: 16px;
}
.link-widget {
    font-weight: 600;
    text-decoration: unset;
    transition: .3s linear;
    width: 100%;
}
.link-widget:hover {
    color: #ffa3f4;
}
.info_header_2 {
    margin-top: 15px;
    display: none;
}
.widget-list a:hover, .widget-title_2:hover {color: #ffa3f4;}
.header_form_mobile_main {
    background-color: white;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    display: none;
    height: fit-content;
}
main {
    z-index: 15;
}
/* код с интернета (проверки не требует)*/
.itcss {
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
  
  /* стили для wrapper */
.itcss__wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
}
  
  /* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.itcss__items {
    display: flex;
    transition: transform 0.5s ease;
}
  
  /* класс для отключения transition */
.transition-none {
    transition: none;
}
  
  /* стили для элементов */
.itcss__item {
    background-color: white;
    flex: 0 0 100%;
    max-width: 100%;
}
  
  /* кнопки Prev и Next */
.itcss__control {
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    user-select: none;
}
  
.itcss__control_show {
    display: flex;
}
  
.itcss__control:hover,
.itcss__control:focus {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
  
.itcss__control_prev {
    left: 0;
}
  
.itcss__control_next {
    right: 0;
}
  
.itcss__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
  
.itcss__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
  
.itcss__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
  
  /* Индикаторы */
.itcss__indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
    list-style: none;
    user-select: none;
}
  
.itcss__indicator {
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgba(150, 150, 150, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
}
  
.itcss__indicator_active {
    background-color: rgb(218, 218, 218);
}
  .absolute_offer {
    position: absolute;
    left: 100px;
}
  .absolute_offer h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    background: linear-gradient(0deg, #D5546E, #D5546E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0;
    margin-top: 80px;
    animation: hover 5s linear infinite;
}
.absolute_offer p{
    font-family: 'Cormorant', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #000000;
    margin-bottom: 100px;
    margin-top: 10px;
}
.absolute_offer a {
    font-family: "Montserrat";
    color: black;
    padding: 15px 50px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    background-color: #DBEC7B;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    transition-duration: .4s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: perspective(2000px) rotateX(20deg);
    box-shadow: 0 7px 0 #cada71;
}
.absolute_offer a:hover {
    outline: 1px solid grey;
    background-color: white;
    color:black;
    transform: perspective(1000px) rotateX(0deg) scale(1.07);
    box-shadow: 0 0 0 #cada71;
}
.itcss__item_2_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/2.JPG);
    background-size: 2000px 200%;
    background-repeat: no-repeat;
    background-color: #FFDFEC;
}
.absolute_offer_2 {
    position: absolute;
    background-color: rgba(255, 223, 236, 0.95);
    width: 906px;
    height: 500px;
    left: 50%;        
    transform: translate(-50%, 0);
}
.absolute_offer_2 h2{
    margin-top: 70px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(0deg, #490362, #490362);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.absolute_offer_2 p {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-top: 0px;
    color: #000000;
    margin-bottom: 110px;
}
.absolute_offer_2 a {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: black;
    padding: 15px 70px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    background-color:#F49797;
    background-size: 70%;
    border: 0px solid #EDEDED;
    border-radius: 8px;
    transition-duration: .5s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}
.absolute_offer_2 a:hover {
    outline: 1px solid grey;
    background-color: white;
    color:black;
}
.itcss__item_3_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/slider_3.png);
    background-repeat: no-repeat;
    background-size: 1300px 69%;
}
.absolute_offer_3 {
    right: 100px;
    position: absolute;
    width: fit-content;
    max-height: 100%;
}
.absolute_offer_3 h2{
    margin-top: 90px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 79px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #B425A5;
}
.absolute_offer_3 p {
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.absolute_offer_3 a {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    padding: 15px 70px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    background-color: #DBEC7B;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    transition-duration: .4s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}
.absolute_offer_3 a:hover {
    outline: 1px solid grey;
    background-color: white;
    color:black;
}
.infinite-line {
    background: url(../images/Group\ 8\ \(3\).png) repeat-x;
    width: 100%;
    height: 23px;
    margin-top: 81px;
    animation: animate 8s linear infinite;
    margin-bottom: 50px;
    opacity: 0.7;
}
@keyframes animate {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -1073px 0px;
    }
}
.infinite-line:hover {
animation-play-state: paused
}
.cards_flex {
    flex-wrap: wrap;
    width: 1330px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}
.card {
    width: 305px;
    height: 500px;
    background-color: white;
    text-align: center;
    background: #FFFFFF;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    outline: 1px solid rgb(221, 221, 221);
    transition-duration: 0.2s;
    overflow: hidden;
    outline-style: dotted;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.card:hover {
    transition-duration: 0.3s;
    transform: scale(1.05);
    outline-offset: 2px;
    outline-style: solid;
    outline-color: rgb(252, 215, 241);
}
.img_card_div {
    margin-bottom: 5px;
    overflow: hidden;
}
.card img {
    transition-duration: 0.4s;
    overflow: visible;
    width: 100%;
    object-fit: cover;
}
.card:hover img {
    transform: scale(1.05);
}
.flower_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(75, 75, 75);
    text-decoration: none;
    text-align: center;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}
.price {
    color: rgb(177, 177, 177);
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 20px;
}
.button_more_flowers {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    padding: 10px 35px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    background-color: rgb(253, 249, 228);
    border-radius: 4px;
    font-size: 20px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
} 
.button_more_flowers:hover {
    outline: 1px solid grey;
    background-color: white;
    color:black;
}
.shine-button {
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    box-shadow: 0 8px 15px rgba(250, 135, 202, 0.1);
    transition: .3s;
}
@keyframes hover{
    0%
    {
        text-shadow: 0px 0px 2px #D5546E;
    }
    20%{
        text-shadow: 0px 0px 2px #d55454;
    }
    40%{
        text-shadow: 0px 0px 2px #a154d5;
    }
    60%{
        text-shadow: 0px 0px 2px #54d5d1;
    }
    80%{
        text-shadow: 0px 0px 2px #b9d554;
    }
    100%{
        text-shadow: 0px 0px 2px #D5546E;
    }
}
.shine-button:hover {
    box-shadow: 0 15px 20px rgba(255, 223, 247, 0.4);
    transform: translateY(-3px);
}
.sale {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: rgb(253, 147, 133);
    border-radius: 60% 0% 60% 0%;
    padding: 4.5%;
    position: absolute;
    left: 3px;
    top: 3px;
    color: white;
    font-weight: 600;
    font-size: 105%;
    text-shadow: 0px 0px 1px black;
}
.salePrice {
    text-decoration: line-through;
    color: rgb(209, 209, 209);
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.saleNew {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    background-color: rgb(180, 250, 196);
}
.saleSelling {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 0px 0px 1px black;
    background-color: rgb(255, 113, 113);
}
footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 137px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
footer form {
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}
footer form input[type="text"] {
    width: 250px;
}
footer form input[type="submit"] {
    font-family:  "Open Sans";
    height: 75%;
    width: 35%;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
    border: 1px solid black;
}
footer form input[type="submit"]:hover {
    background-color: white;
    color: black;
}
footer div {
    display: flex;
    align-items: center;
    width: 17%;
    justify-content: end;
}
footer img {
    width: 50px;
    height: auto;
}
@media (max-width:1701px) {
    .logo {
        margin-right: 9%;
    }
    form {
        margin-right: -1%;
    }
}
@media (max-width:1601px) {
    .logo {
        margin-right: 6%;
    }
    form {
        margin-right: 0%;
    }
}
@media (max-width:1449px) {
    .logo {
        margin-right: 4%;
    }
    .cards_flex {
        width: 60%;
    }
}
@media (max-width:1149px) {
    .cards_flex {
        width: 80%;
    }
    .absolute_offer {
        width: 90%;
       left:50%;
       top: 35%;
       transform: translateY(-50%) translateX(-50%);
    }
    .absolute_offer h2{
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: 50px;
    }
    .absolute_offer p{
    font-size: 25px;
    margin-bottom: 70px;
    margin-top: 10px;
    }
    .absolute_offer a {
    padding: 10px 35px;
    font-size: 20px;
    }
    .absolute_offer_2 {
    width: 85%;
    height: 500px;     
    }
    .absolute_offer_2 h2{
    margin-top: 130px;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    }
    .absolute_offer_2 p {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 70px;
    }
    .absolute_offer_2 a {
    padding: 10px 50px;
    font-size: 20px;
    }
    .itcss__item_3_img {
    background-size: 1300px 69%;
    background-position: -100px 0px;
    }
    .absolute_offer_3 {
    right: 0px;
    position: absolute;
    width: fit-content;
    height: 500px;
    max-height: none;
    width: 100%;
    }
    .absolute_offer_3 h2{
    margin-top: 120px;
    font-size: 70px;
    line-height: 79px;
    margin-bottom: 0;
    margin-right: 0;
    text-shadow: 0 0 5px wheat;
    }
    .absolute_offer_3 p {
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 5px black;
    }
    .absolute_offer_3 a {
    text-align: center;
    color: #000000;
    padding: 10px 40px;
    font-size: 20px;
    text-shadow: none;
    line-height: normal;
    }
}
@media (max-width:950px){
    .info_header_2 {
        display: block; /*asd*/
        font-size: 14px;
    }
    #info_header_2 {
        display: none;
    }
    .cards_flex {
        width: 100%;
    }
}
@media (max-width:770px){
    .absolute_offer h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .absolute_offer_2 h2 {
        font-size: 50px;
    }
    .absolute_offer_3 h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .absolute_offer_3 {
        top: 35%;
        transform: translateY(-60%);
        height: auto;
    }
}
@media (max-width:650px){
    .widget-title, .widget-title_2, .widget-list a {
        font-size: 14px;
    }
    .card {
        width: 235px;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card img {
        width: 100%;
    }
    footer div {
        width: fit-content;
    }
}
@media (max-width:590px){
    .logo {
        margin-left: 30%;
    }
    .header_form_mobile{
        display: none;
    }
    .header_form_mobile_main{
        display: flex;
    }
    .header_form_mobile_main input[type="text"] {
        width: 65vw;
    }
    .itcss {
        margin-top: 25px;
    }
}
@media (max-width:550px){
    footer form input[type="text"] {
        width: 80%;
    }
    footer{
        height: fit-content;
    }
    .card {
        width: 185px;
        height: 320px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .card img {
        width: 100%;
    }
}
@media (max-width:450px){
    
    .absolute_offer p {
        font-size: 22px;
    }
    .absolute_offer a {
        font-size: 17px;
    }
    .absolute_offer_2 h2 {
        font-size: 45px;
        }
    .absolute_offer_2 p {
        font-size: 22px;
    }
    .absolute_offer_3 p {
        font-size: 22px;
    }
    .absolute_offer_2 a {
        font-size: 17px;
    }
    .absolute_offer_3 a {
        font-size: 17px;
    }
    .itcss__item a {
        padding: 10px 15px;
    }
}
@media (max-width:417px){
    .card {
        width: 70%;
        height: fit-content;
    }
    .card img {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width:350px){
    .logo {
        margin-left: 20%;
    }
    .info_header_2, .widget-title, .widget-title_2, .widget-list a {
        font-size: 12px;
    }
    .absolute_offer_2 {
        width: 100%;
        background-color: rgba(255, 223, 236, 0.75);
    }
}
@media (max-width:300px){
    .info_header_2, .widget-title, .widget-title_2, .widget-list a {
        font-size: 10px;
    }
    .info_header_2, .widget-title, .widget-title_2, .widget-list a {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
@media (max-width:290px){
    .logo {
        margin-left: 5%;
    }
}
@media (max-width:250px){
    .info_header_2, .widget-title, .widget-title_2, .widget-list a {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

/* Пофиксить
    --1 медиа хидер
max-width:590px добавить
max-width:550px удалить лишнее
    --2 пофиксить js 
    --3 все остальное
*/